{
  "plugins": ["prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "^@(.*)/(.*)",
    "^(?!(.?./))",
    "^(../.*)",
    "^(./.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
